//
// Pattern Library
//

@import "helpers/variables";
@import "helpers/mixins";

body {
	/* Visual */
	background-color: white;
}

.pattern-container {
	/* Box-model */
	width: 90%;
	margin: 0 auto;
}

.pattern-h1 {
	/* Typography */
	@include font-size(28, 24, 24);
	color: $gray;
}

.pattern {
	/* Box-model */
	@include m-p(margin, bottom, $mp-xl);

	/* Visual */
	border-radius: $border-radius-s;
	border: 1px solid $gray-lighter;

	&.fix-line-height-1 {
		/* Box-model */
		margin-top: -1px;
	}

	&.fix-line-height-2 {
		/* Box-model */
		margin-top: -2px;
	}

	&.fix-line-height-3 {
		/* Box-model */
		margin-top: -3px;
	}
}

.pattern-heading {
	/* Box-model */
	overflow: hidden;
	height: $doc-line-height * 2 +px;

	/* Visual */
	background-color: #f9f9f9;	
}

.pattern-h2 {
	/* Box-model */
	@include m-p(padding, left, $mp-s);
	@include m-p(padding, right, $mp-s);

	/* Typography */
	@include font-size(18, 12, 12);
	color: $gray;
	font-weight: normal;
}



.pattern-content {
	/* Box-model */
	@include m-p(padding, left, $mp-s);
	@include m-p(padding, right, $mp-s);
	@include m-p(padding, top, $mp-m);
	@include m-p(padding, bottom, $mp-m);

	/* Visual */
	border-top: 1px solid $gray-lighter;
}

hr {
	/* Visual */
	border-color: $gray-light;
}

.pattern-img {
	/* Box-model */
	height: $doc-line-height * 3 + px;
}

.pattern-color {
	/* Box-model */
	display: block;
	height: $doc-line-height * 3 + px;
	width: $doc-line-height * 3 + px;
	margin: 0 auto;
}

.pattern-color-primary {
	/* Visual */
	background-color: $brand-primary-color;
}

.pattern-color-secondary {
	/* Visual */
	background-color: $brand-secondary-color;
}

.pattern-color-third {
	/* Visual */
	background-color: $brand-third-color;
}

.pattern-color-brand-gray {
	/* Visual */
	background-color: $brand-gray-color;
}

.pattern-color-gray {
	/* Visual */
	background-color: $gray;
}

.pattern-color-gray-light {
	/* Visual */
	background-color: $gray-light;
}

.pattern-color-success {
	/* Visual */
	background-color: $brand-success-color;
}

.pattern-color-info {
	/* Visual */
	background-color: $brand-info-color;
}

.pattern-color-danger {
	/* Visual */
	background-color: $brand-danger-color;
}



