section(id="pattern-body-copy" class="pattern pattern-body-copy fix-line-height-3")

	.pattern-heading
		h2(class="pattern-h2") Body copy

	.pattern-content
		p So, setting about it as methodically as men might smoke out a wasps' nest, the Martians spread this strange stifling vapour over the Londonward country. The horns of the crescent slowly moved apart, until at last they formed a line from Hanwell to Coombe and Malden. All night through their destructive tubes advanced.</p>

		a(class="link m-b-m inline-block" href="#") Link

		p(class="lead") .lead Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.

		p 
			small Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
		p 
			strong Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
		p 
			em Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.

		p(class="text-success") .text-success Left aligned text.
		p(class="text-info") .text-info Left aligned text.
		p(class="text-danger") .text-danger Left aligned text.
		p(class="text-left") .text-left Left aligned text.
		p(class="text-center") .text-center Center aligned text.
		p(class="text-right") .text-right Right aligned text.
		p(class="text-justify") .text-justify Justified text.