section(id="pattern-buttons", class="pattern pattern-buttons fix-line-height-3")

	.pattern-heading
		h2(class="pattern-h2") Buttons

	.pattern-content
		div(class="row m-b-s")
			div(class="col-md-2 col-xs-12")
				button(class="button button-primary") .button-primary
			div(class="col-md-2 col-xs-12")
				button(class="button button-secondary") .button-secondary
			div(class="col-md-2 col-xs-12")
				button(class="button button-success") .button-success
			div(class="col-md-2 col-xs-12")
				button(class="button button-danger") .button-danger
			div(class="col-md-2 col-xs-12")
				a(class="button button-primary" href="#") a.button-primary

		div(class="row")
			div(class="col-md-2 col-xs-12")
				button(class="button button-l button-primary") .button-primary
			div(class="col-md-2 col-xs-12")
				button(class="button button-l button-secondary") .button-secondary
			div(class="col-md-2 col-xs-12")
				button(class="button button-l button-success") .button-success
			div(class="col-md-2 col-xs-12")
				button(class="button button-l button-danger") .button-danger
			div(class="col-md-3 col-xs-12")
				a(class="button button-l button-primary" href="#") a.button-primary
