section(id="pattern-colors" class="pattern pattern-colors fix-line-height-3")

    .pattern-heading
        h2(class="pattern-h2") Colors

    div(class="pattern-content")
        div(class="row") 

            div(class="col-md-1 col-xs-4")
                span(class="pattern-color pattern-color-primary")

            div(class="col-md-1 col-xs-4")
                span(class="pattern-color pattern-color-secondary")

            div(class="col-md-1 col-xs-4")
                span(class="pattern-color pattern-color-third")

            div(class="col-md-1 col-xs-4")
                span(class="pattern-color pattern-color-brand-gray")

            div(class="col-md-1 col-xs-4")
                span(class="pattern-color pattern-color-gray")

            div(class="col-md-1 col-xs-4")
                span(class="pattern-color pattern-color-gray-light")

            div(class="col-md-1 col-xs-4")
                span(class="pattern-color pattern-color-success")

            div(class="col-md-1 col-xs-4")
                span(class="pattern-color pattern-color-info")

            div(class="col-md-1 col-xs-4")
                span(class="pattern-color pattern-color-danger")
