section(id="pattern-font", class="pattern pattern-fonts  fix-line-height-3")

	.pattern-heading
		h2(class="pattern-h2") Fonts

	.pattern-content
		p So, setting about it as methodically as men might smoke out a wasps' nest, the Martians spread this strange stifling vapour over the Londonward country. The horns of the crescent slowly moved apart, until at last they formed a line from Hanwell to Coombe and Malden. All night through their destructive tubes advanced.