section(id="pattern-footer", class="pattern pattern-footer fix-line-height-3")

	.pattern-heading
		h2(class="pattern-h2") Footer

	.pattern-content
		footer(role="contentinfo", class="footer p-t-m p-b-m")

			.container

				.row

					.col-md-2
						p(class="footer-copyright-p") © 2014 Company


					.col-md-8
						nav(class="footer-nav text-center")
							ul(class="footer-nav-ul list-inline")
								li 
									a(href="", title="item1") Item 1
								li 
									a(href="", title="item2") Item 2
								li 
									a(href="", title="item2") Item 3
								li 
									a(href="", title="item2") Item 4

					.col-md-2
						nav(class="footer-social-nav right")
							ul(class="footer-social-nav-ul list-inline")
								li 
									a(href="", title="Google Plus") G+
								li 
									a(href="", title="Facebook") fB
								li 
									a(href="", title="Twitter") Tw