section(id="pattern-forms", class="pattern pattern-forms fix-line-height-3")

	.pattern-heading
		h2(class="pattern-h2") Forms

	.pattern-content
		form(role="form" class="form")

			label(class="label" for="input") .label
			input(id="input", class="input", type="text", placeholder="Entrer un texte")

			label(class="label" for="input2") .label
			input(id="input2", class="input", type="text", placeholder="Entrer un texte")
			
			div(class="row")
				div(class="checkbox col-md-4")
					label(for="checkbox")
						input(id="checkbox", type="checkbox") 
						= " Check me out"

				div(class="radio col-md-4")
					label(for="radio")
						input(id="radio" type="radio") 
						= " Check me out"
			
			label(class="label", for="textarea") .label
			div(class="row")
				div(class="col-md-4")
					textarea(id="textarea", class="textarea", placeholder="Entrer un texte", rows="10")

			button(class="button button-primary") .button-primary