section(id="pattern-headings", class="pattern pattern-headings fix-line-height-2")

	.pattern-heading
		h2(class="pattern-h2") Headings

	.pattern-content
		h1 Heading .h1
		h2 Heading .h2
		h3 Heading .h3
		h4 Heading .h4
		h5 Heading .h5