section(id="pattern-header", class="pattern pattern-header fix-line-height-3")

	.pattern-heading
		h2(class="pattern-h2") Header

	.pattern-content
		header(role="banner", class="header p-t-s p-b-s")

			.container

				.row

					.col-md-4
						h1(class="header-logo-h1 p-t-xs p-b-xs")
							img(class="header-logo-img img", alt="Logo", src="../img/logo.png")

					.col-md-8
						nav(role="navigation" class="primary-nav right p-t-m")
							ul(class="list-inline")
								li 
									a(href="", title="item1") Item 1
								li 
									a(href="", title="item2") Item 2
								li 
									a(href="", title="item2") Item 3
								li 
									a(href="", title="item2") Item 4