section(id="pattern-hero-unit", class="pattern pattern-hero-unit fix-line-height-1")

	.pattern-heading
		h2(class="pattern-h2") Hero unit

	.pattern-content
		section(class="hero-unit p-t-xl p-b-xl")

			.container

				.row

					.col-md-7
						h2(class="hero-unit-h") Title
						p(class="hero-unit-p") Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.Vivamus sagittis lacus vel.
						a(class="hero-unit-button button button-l button-primary col-md-4") Découvrir