section(id="pattern-lists", class="pattern pattern-lists fix-line-height-3")

	.pattern-heading
		h2(class="pattern-h2") Lists

	.pattern-content			
		ul
			li Item 1
			li Item 2
			li Item 3
			li Item 4

		ul(class="list-unstyled")
			li Item 1
			li Item 2
			li Item 3
			li Item 4

		ul(class="list-inline")
			li Item 1
			li Item 2
			li Item 3
			li Item 4

		ol
			li Item 1
			li Item 2
			li Item 3
			li Item 4