section(id="pattern-logo" class="pattern pattern-logo fix-line-height-3")

	.pattern-heading
		h2(class="pattern-h2") Logo

	.pattern-content
		img(class="img pattern-img p-t-xs p-b-xs", alt="Logo", src="../img/logo.png")