section(id="pattern-primary-nav", class="pattern pattern-primary-nav fix-line-height-3")
	
	.pattern-heading
		h2(class="pattern-h2") Primary nav

	.pattern-content
		.container
			nav(role="navigation" class="primary-nav right p-t-m")
				ul(class="list-inline")
					li 
						a(href="", title="item1") Item 1
					li 
						a(href="", title="item2") Item 2
					li 
						a(href="", title="item2") Item 3
					li 
						a(href="", title="item2") Item 4
