block variables

doctype 5
html(lang="fr")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
			- var pageTitle = pageTitle || default "Start Project"
		title #{pageTitle}
		meta(name="description", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		link(href="img/favicon.png" rel="shortcut icon")

		link(rel="stylesheet", href="css/main.css")
		<!--[if lt IE 9]>
		script(src="js/ltie9/min/ltie9.min.js")
		<![endif]-->

	body(class="")

		include ../includes/_site-header

		div(class="page-wrapper", id="#pageWrapper")

			div(class="main", role="main")

				block content
			
			//include ../includes/_site-footer

		script(type='text/javascript', src="js/min/main.min.js")
		script(type='text/jsx', src="js/views/question.jsx")
		script(type='text/jsx', src="js/views/question-1.jsx")
		script(type='text/jsx', src="js/views/question-identite.jsx")
		script(type='text/jsx', src="js/views/question-dispo.jsx")
		script(type='text/jsx', src="js/views/question-2.jsx")
		script(type='text/jsx', src="js/views/question-3.jsx")
		script(type='text/jsx', src="js/views/form-infos.jsx")
		script(type='text/jsx', src="js/views/questionnaire.jsx")

		script(type="text/jsx").
			/** @jsx React.DOM */

			var userInfos = {
				firstName: 'Fabien',
				lastName: 'Barbaud',
				tel: '0866 6969 6969'			
			};

			React.renderComponent(
				<Questionnaire />,
				document.getElementById('react')
			);