//
// Backgrounds
//

// Global
.section-bg-image {
	/* Visual */
	background-size: cover;
	background-attachment: scroll;
	
	/* Tablet landscape and desktop */
	@media screen and (min-width: $screen-sm-min) {
		/* Box-model */
		background-attachment: fixed;
	}
}

.transform {
	& .section-bg-image {
		-webkit-transform: translateZ(0);
	}
}

.section-bg-third {
	/* Visual */
	background-color: $brand-third-color;
}

.section-bg-gray-lighter {
	/* Visual */
	background-color: $gray-lighter;
}

// Start Project
.section-bg-image-ingenieur {
	/* Visual */
	background-image: url('../img/bg-ingenieur.jpg');
}











