//
// Bloc
//

// Container for inline mutliple bloc content
.content-block-line {

	/* Media queries */

	/* Desktop */
	@media screen and (min-width: $screen-xs-max) {
		/* Box model */
		@include m-p(margin, bottom, $mp-xl);
  	}

}

// Redifine bloc model in mobile
.content-block {
	/* Box model */
	@include m-p(margin, bottom, $doc-line-height * 3);

	/* Media queries */

	/* Desktop */
	@media screen and (min-width: $screen-xs-max) {
		/* Box-model */
		margin-bottom: 0;
  	}
}

.content-block-last {
	margin-bottom: 0;
}


// Vertical bloc content in section
.block-horizontal {
	/* Box-model */
	@include m-p(padding, top, $doc-line-height * 2);
	@include m-p(padding, bottom, $doc-line-height * 2);

	/* Media queries */
	@media screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-min) {
		/* Box-model */
		@include m-p(padding, top, $doc-line-height * 3);
		@include m-p(padding, bottom, $doc-line-height * 3);
  	}

	@media screen and (min-width: $screen-md-min) {
		/* Box-model */
		@include m-p(padding, top, $doc-line-height * 4);
		@include m-p(padding, bottom, $doc-line-height * 4);
  }
}