//
// Plans
//

.plan {
	/* Box-model */
	overflow: auto;
	width: 95%;
	margin: 0 auto;

	/* Typography */
	color: $body-text-color;

	/* Visual */
	background-color: white;

	/* Media queries */

	/* Tablet */
	@media screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
		/* Box-model */
		width: 60%;
  	}

  	/* Tablet landscape */
	@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		/* Box-model */
		width: 95%;
  	}

  	/* Desktop */
	@media screen and (min-width: $screen-md-min) {
		/* Box-model */
		width: 80%;
  	}
	
	.lead {
		/* Typography */
		@include font-size(18, $mp-s, $mp-m);
	}
}

.plan-title {
	/* Box-model */
	@include m-p(padding, top, $mp-m);
	@include m-p(padding, bottom, $mp-m);

	/* Typography */
	@include font-size(22, no, no);
	color: $body-text-color-light;

	/* Visual */
	background-color: $brand-primary-color;	
}

.plan-price {
	/* Typography */
	@include font-size(30, 12, 12);
	font-family: $font-family-headings;
	color: $brand-primary-color;
}

.plan-list {
	/* Typography */
	@include font-size(15, no, 24, 30);
}

.plan-icon {
	/* Positioning */
	position: relative;
	top: 1px;

	/* Box-model */
	@include m-p(padding, right, $mp-xs);
}

.plan-light {

	.plan-title {
		/* Visual */
		background-color: $brand-third-color;
	}

	.plan-price {
		/* Typography */
		color: $brand-third-color;
	}

}