- var menuFooter = {'accueil' : 'index.html', 'menu 1' : 'page1.html', 'menu 2' : 'page2.html', 'menu 3' : 'page3.html', 'contact' : 'contact.html' }

footer(role="contentinfo", class="footer p-t-m p-b-m")

	.container

		.row

			div(class="col-md-2 col-sm-2 text-center hidden-xs")
				p(class="footer-copyright-p") © 2014 Start Project


			div(class="col-md-8 col-sm-8")
				nav(class="footer-nav text-center hidden-xs")
					ul(class="footer-nav-ul list-inline")

						each val, key in menuFooter
							li
								a(class="", href=val, title=key)= key

			div(class="col-md-2 col-sm-2 col-xs-12 text-center")
				nav(class="footer-social-nav")
					ul(class="footer-social-nav-ul list-inline")
						li 
							a(href="http://facebook.com", title="Facebook") 
								span(class="icon-facebook") &nbsp;
						li 
							a(href="http://twitter.com", title="Twitter") 
								span(class="icon-twitter") &nbsp;
						li 
							a(href="http://google.com", title="Google Plus") 
								span(class="icon-googleplus") &nbsp;

			div(class="col-xs-12 text-center visible-xs")
				p(class="footer-copyright-p") © 2014 Start Project