//
// Button light
//

// Button-light
.button-light {
	/* Visual */ 
	background: transparent;
	border: 2px solid;
}

.button-primary {
	@include button-light(white, $button-primary-color);
}

.button-primary-gray {
	@include button-light(white, $button-third-color);
}

.button-secondary {
	@include button-light($button-secondary-color, white);
}

.button-third {
	@include button-light($button-third-color, white);
}

/*.button-success {
	@include button-light($button-success-color, white);
}

.button-danger {
	@include button-light($button-danger-color, white);
}*/