//
// Buttons
//

// Button
.button-primary {
	@include button($button-primary-color);
}

.button-primary-gray {
	@include button($brand-gray-color);
}

.button-secondary {
	@include button($button-secondary-color);
}

.button-third {
	@include button($button-third-color);
}

.button-success {
	@include button($button-success-color);
}

.button-danger {
	@include button($button-danger-color);
}