//
// Mixins utilities
//

// Clearfix
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

// Margin Padding
@mixin m-p($type, $direction, $size, $line-height: $doc-line-height) {
  #{$type}-#{$direction}: 0px + $size;
  #{$type}-#{$direction}: 0rem + ($size / $doc-font-size); 
}

