block variables
doctype 5
html(lang="fr")
    head
        meta(charset="utf8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
            - var pageTitle = pageTitle || default "Pattern library"
        title #{pageTitle}
        meta(name="description", content="")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        link(rel="stylesheet", href="../css/main.css")
        link(rel="stylesheet", href="../css/pattern-library.css")

    body(class="")

        .pattern-container
            include ../includes/_header

            block content
                div(class="pattern-main", role="main")

            include ../includes/_footer
