//
// Footer
//

.footer {
	/* Typography */
	color: $body-text-color-light;

	/* Visual */
	background-color: $brand-secondary-color;
}

.footer-nav-ul {
	/* Box-model */
	margin-bottom: 0;

	li {
		 /* Tablet landscape */
		@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		/* Box-model */
		@include m-p (padding, left, $mp-xs);
		@include m-p (padding, right, $mp-xs);
  		}
	}
}

.footer-copyright-p {

	margin-bottom: 0;

	/* Media queries */

	/* Desktop */
	@media screen and (min-width: $screen-xs-max) {
		/* Typography*/
		text-align: left;
  }
}

.footer-social-nav {
	/* Box model */
	@include m-p(margin, bottom, $mp-m);

	/* Media queries */

	/* Desktop */
	@media screen and (min-width: $screen-xs-max) {
		/* Typography*/
		@include font-size(16, no, no);
		text-align: right;

		/* Box model */
		margin-bottom: 0;
  }


 	.footer-social-nav-ul {
		/* Typography */
		@include font-size(24, no, no);

		/* Media queries */

		/* Desktop */
		@media screen and (min-width: $screen-xs-max) {
			/* Typography*/
			@include font-size(16, no, no);
			text-align: right;
		}
	}
}