//
// Header
//

.header {
	/* Box-model */
	position: relative;
	height: $doc-line-height * 3 +px;
	z-index: 1000;

	/* Visual */
	background-color: $gray-lighter;	

	/* Misc */
	-webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
	-moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
	-o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
	-ms-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
	transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}

// Logo
.header-logo-h1 {
	/* Box-model */
	margin: 0;

	/* Typography */
	font-weight: normal;
}

.header-logo-img {
	/* Box-model */
	height: $logo-height + px;
}

// Margin top negative for hero-unit header background 
.margin-top-negative {
	/* Box-model */
	position: relative;
	margin-top: - ($doc-line-height * 3) + px;
}