//
// Header fixed
//

// Styles for fixed header
.header-fixed {
	/* Positioning */
	position: fixed;
	left: 0;
	top: 0;
	right: 0;

	/* Visual */
	background-color: white;
	border-bottom: 1px solid $gray-lighter;
	-webkit-box-shadow: 0 1px 1px rgba(6,8,8,0.1);
	box-shadow: 0 1px 1px rgba(6,8,8,0.1);

	// Primary nav for fixed header
	.primary-nav-ul-item-a {
	/* Typography */
	color: $brand-gray-color;
	text-decoration: none;

		&:hover, &.active {
			/* Typography */
			color: $brand-primary-color;
			text-decoration: none;
		}
	}

	// Button nav for header-fixed
	.button-nav, .button-menu {
		@include button-light($brand-gray-color, white);

		&:hover {
			/* Typography */ 
			color: $brand-primary-color;
			border-color: $brand-primary-color;

			/*Visual*/
			background-color: transparent;
		}
	}
}

.body-margin-top-header-fixed {
	/* Box-model */
	margin-top: $doc-line-height * 3 +px;
}
