//
// Form
//

// Basic

.label {
	/* Box-model */
	display: block;

	cursor: pointer;
}

.label-radio {

	/* Box model */
	@include m-p(padding, left, $mp-s);
	@include m-p(padding, right, $mp-s);
	@include m-p(padding, top, $mp-s);
	@include m-p(padding, bottom, $mp-s);

	margin-top: -3px;

	/* Visual */
	border: 1px solid $body-border-color;
	border-radius : $input-border-radius;
	background-color: #f5f5f5;
}

.input, 
.textarea, 
.select {
	/* Box-model */
	display: block;
	height: $doc-line-height * 2 + px;
	@include m-p(margin, bottom, $mp-m);
	@include m-p(padding, left, $mp-s);

	/* Typography */
	color: $body-text-color;
	
	/* Visual */
	//background-color: #f5f5f5;
	border: 1px solid $form-border-color;
	border-radius: $input-border-radius;

	&:focus {
		/* Visual */
		outline: none;
		border: 1px solid $brand-primary-color;
	}
}

.textarea {
	/* Box-model */
	height: $doc-line-height * 6 + px;
	@include m-p(padding, top, $mp-s);
}

.checkbox, 
.radio {
	/* Box-model */
	@include m-p(margin, bottom, $mp-m);
}


// Large
.label-l {
	/* Typography */
	@include font-size(18, no, no);
}

.input-l {
	/* Box-model */
	height: $h-xl + 1px;
	@include font-size(18, no, no);
	@include m-p(margin, bottom, $mp-m);
}

::-webkit-input-placeholder {
   color: $form-placeholder-color;
}

:-moz-placeholder { /* Firefox 18- */
	/* Typography */
	color: $form-placeholder-color;
}

::-moz-placeholder {  /* Firefox 19+ */
	/* Typography */
	color: $form-placeholder-color;  
}

:-ms-input-placeholder {
	/* Typography */
	color: $form-placeholder-color;
}

// Form validation

.list-alert {
	@extend .list-unstyled;

	/* Box model*/
	margin-bottom: 0;
}

.help-block {
	/* Box model*/
	@include m-p(margin, bottom, $mp-m);
}




