//
// Mobile nav
//

// Add transform class in button-mobile menu clic  
.page-wrapper, .header {
  
  &.transform {
  	/* Misc */
    transform: translate3d(0,0,0);
  }
}

// Mobile nav is active
.mobile-nav-active .page-wrapper, .mobile-nav-active .header {
	/* Misc */
	-webkit-transform: translate3d(-215px, 0, 0);
	-moz-transform: translate3d(-215px, 0, 0);
	-ms-transform: translate3d(-215px, 0, 0);
	-o-transform: translate3d(-215px, 0, 0);
	transform: translate3d(-215px, 0, 0);
}


// Mobile nav
.mobile-nav {
	/* Box model */
	width: 215px;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100% !important;
	z-index: -1;

	/* Visual */
	background-color: $brand-secondary-color;
}

.mobile-nav-ul-item-a {
	/* Box model */
	width: 100%;
	display: inline-block;
	@include m-p(padding, left, $mp-s);
	@include m-p(padding, top, $mp-m);
	@include m-p(padding, bottom, $mp-m);

	/* Typography */
	@include font-size(16, no, no);
	color: $body-text-color-light;

	/* Visual */
	border-bottom: 1px solid $brand-third-color;

		&:hover {
			/* Typography */
			color: $body-text-color-light;
			text-decoration: none;
		}
}
