//
// Nav
//

// Primary nav
.primary-nav-ul {
	/* Typography */
	@include font-size(16, no, no);
	text-transform: uppercase;
}

.primary-nav-ul-item-a {
	/* Typography */
	color: white;
	text-decoration: none;


	&:hover, &.active {
		/* Typography */
		color: white;
		text-decoration: underline;
	}
}

// Button in nav
.button-nav, .button-menu {
	@include button-light(white, white);

	&:hover {
		/* Typography */ 
		color: $brand-primary-color;
	}
}

// Footer nav
.footer-social-nav-ul, 
.footer-nav-ul {

	a {
		/* Typography */
		color: $body-text-color-light;

		&:hover {
			/* Typography */
			color: $body-text-color-light;
		}
	}
}

// Social nav
.footer-social-nav-ul {

	a {
		/* Typography */
		text-decoration: none;
	}
}