//
// Type
//

// Headings
h1, h2, h3, h4, h5, h6 {
	/* Typography */
	font-family: $font-family-headings;
	color: $body-headings-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, 
.h1 {
	/* Typography */
	@include font-size(28, yes, no, 21);
}

h2, 
.h2 {
	/* Typography */
	@include font-size(28, no, 48);
	font-weight: normal;
	text-transform: uppercase;
}

h3, 
.h3 {
	/* Typography */
	@include font-size(22, 36, 12);
	font-weight: normal;
}

h4, 
.h4 {
	/* Typography */
	@include font-size(20, 36, 12);
	font-weight: normal;
}

h5, 
.h5 {
	/* Typography */
	@include font-size(20, yes, no);
}

// Body copy
p, 
.p, 
ul, 
.ul, 
ol, 
.ol {
	/* Typography */
	@include font-size($doc-font-size, no, yes);
}

.lead {
	/* Typography */
	@include font-size(20, 48, 48, 36);
}

// Links
a, 
.link {
	/* Typography */
	color: $body-link-color;
	text-decoration: none;

	/* Visual */
	cursor: pointer;

	&:hover {
		/* Typography */
		color: $body-link-color-hover;
		text-decoration: underline;
	}
}

// Hr
hr, 
.hr {
	/* Box-model */
	height: 0;
	margin: 0;
	@include m-p (margin, bottom, $mp-m);

	/* Visual */
	border: 0;
	border-top: 1px solid $body-border-color;


	&.fix-line-height {
		/* Box-model */
		margin-top: 1px;
	}
}

// Lists
.list-unstyled {
	/* Box-model */
	padding-left: 0;

	/* Visual */
	list-style: none;
}

.list-inline {
	/* Box-model */
	padding-left: 0;

	/* Visual */
	list-style: none;

	li {
		/* Box-model */
		display: inline-block;
		@include m-p (padding, left, $mp-s);
		@include m-p (padding, right, $mp-s);
	}
}

// Information
.text-success {
	/* Typography */
	color: $brand-success-color;
}

.text-danger {
	/* Typography */
	color: $brand-danger-color;
}

.text-info {
	/* Typography */
	color: $brand-info-color;
}




