block variables
	pageTitle = "Site pattern library"
extends layout/_base 

block content
	include lib/_logo
	include lib/_colors
	include lib/_fonts
	include lib/_headings
	include lib/_body-copy
	include lib/_lists
	include lib/_forms
	include lib/_buttons
	include lib/_hero-unit
	include lib/_primary-nav
	include lib/_header
	include lib/_footer