// 
// 1.Colors
//

// Brand colors
$brand-primary-color: #428bca !default;
$brand-secondary-color: #282828  !default;
$brand-third-color: #555555 !default;
$brand-gray-color: #8b8b8b !default;

// Gray colors
$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 60%) !default;   // #999
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee

// Text colors
$body-text-color: $gray !default;
$body-text-color-light: #fff !default;

// Info colors
$brand-success-color: #27AE60 !default;
$brand-danger-color: #c0392b !default;
$brand-info-color: #2980B9 !default;

// Bg colors
$body-bg-color: white !default;

// Header color 
$header-bg-color: #fff !default;

// Hero unit colors
$hero-unit-bg-color: $brand-third-color !default;
$hero-unit-text-color: $body-text-color-light !default;

// Headings colors
$body-headings-color: $brand-secondary-color !default;
$body-headings-color-light: $body-text-color-light !default;

//Link colors
$body-default-link-color: $brand-third-color !default;
$body-default-link-color-hover: darken ($body-default-link-color, 5%) !default;
$body-link-color: $body-default-link-color !default;
$body-link-color-hover:      darken($body-link-color, 15%) !default;

// Border colors
$body-border-color: $gray-lighter;

// Form color
$form-label-color: $body-text-color !default;
$form-placeholder-color: $brand-gray-color !default;
$form-border-color: $gray-light;

// Button colors
$button-primary-color: $brand-primary-color !default;
$button-secondary-color: $brand-primary-color !default;
$button-third-color: $brand-third-color !default;
$button-gray-color: $brand-gray-color !default;
$button-success-color: $brand-success-color !default;
$button-danger-color:  $brand-danger-color !default;

//
// 2.Typography
//

// Font-family
$font-family-regular: "Helvetica", Arial, sans-serif !default;
$font-family-headings: "Helvetica", Arial, sans-serif !default;

// Font size
$doc-font-size: 16;
$doc-line-height: 24;

//
// 3.Layout
//

// Header
$logo-height: $doc-line-height * 2;

//
// 4.Utilities
//

// Margin - Padding
$mp-xs : $doc-line-height / 4;
$mp-s : $doc-line-height / 2;
$mp-m : $doc-line-height;
$mp-l : $doc-line-height * 1.5;
$mp-xl : $doc-line-height * 2;
$mp-xxl : $doc-line-height * 2.5;
$mp-xxxl : $doc-line-height * 3;

// Heights
$h-xs : $doc-line-height / 4;
$h-s : $doc-line-height / 2;
$h-m : $doc-line-height;
$h-l : $doc-line-height * 1.5;
$h-xl : $doc-line-height * 2;
$h-xxl : $doc-line-height * 2.5;
$h-xxxl : $doc-line-height * 3;

// Border radius
$border-radius-s : 3px;
$border-radius-m : 5px;

// 5.Form
$input-border-radius: $border-radius-m;
$button-border-radius: $border-radius-m;

//
// 6.Media queries
//

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Small screen / tablet landscape
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm-landscape:        870px !default;
$screen-sm-landscape-min:    $screen-sm-landscape !default;
$screen-tablet-landscape:    $screen-sm-landscape-min !default;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
//$screen-sm-landscape-max:    ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


//
// 7.Grids
//

//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px !default;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min !default;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;

//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:             ((720px + $grid-gutter-width)) !default;
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet !default;

// Small screen / tablet landscape
$container-tablet-landscape:             ((870px + $grid-gutter-width)) !default;
//** For `$screen-sm-min` and up.
$container-sm-landscape:                 $container-tablet-landscape !default;

// Medium screen / desktop
$container-desktop:            ((940px + $grid-gutter-width)) !default;
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      ((1140px + $grid-gutter-width)) !default;
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop !default;
